.header {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 50px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      gap: 50px;

      li {
        margin: 0 10px;
      }
    }
  }
}